<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>

    <add key="TEMConnectionString" value="Data Source=192.168.10.14;Initial Catalog=SouthEasternTrust;User Id=sa;Password=adminTEM6090; Connection Timeout = 50000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="LogFilePath" value="C:\\visualstudio\\SEHSC Reports\\TemAutomatedReports\\AutomatedReports\\" />
  </appSettings>
  <connectionStrings>
    <add name="TEMConnectionString" connectionString="Data Source=192.168.10.14;Initial Catalog=SouthEasternTrust;User Id=sa;Password=adminTEM6090; Connection Timeout = 50000;"
      providerName="System.Data.SqlClient" />
    <add name="TEMAutomatedReports.Properties.Settings.PROConnectionString"
      connectionString="Data Source=temlivedb;Initial Catalog=SouthEasternTrust;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="TEMAutomatedReports.Properties.Settings.PROConnectionString1"
      connectionString="Data Source=192.168.10.14;Initial Catalog=SouthEasternTrust;User ID=sa;Password=adminTEM6090"
      providerName="System.Data.SqlClient" />
    <add name="TEMAutomatedReports.Properties.Settings.PROConnectionString2"
      connectionString="Data Source=192.168.10.14;Initial Catalog=SouthEasternTrust;User ID=sa;Password=adminTEM6090"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
